.split{
  display: table;
  width: 100%;    
  background: rgb(240, 240, 240);
}
.split-item{
  display: table-cell;
  padding: 80px;
  width: 50%;
}
.split-left{
  position: relative;
}
.split-left__inner{
  height: 100%;
  position: fixed;
  width: 50%;
}
.split-left__inner p{
  width:80%;
  text-align: left;
}
.split-right__inner{
  height: 8000px;
}
.logo{
  width: 20em;
  text-align: left;
}
.box{
  padding: 0.5em 1em;
  margin: 2em 0;
  background-color: white;
  width: 80%;
}